/* Reset */

*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body
{
    position: relative;
    background-color:#111111;
    font-family: 'Poppins', sans-serif;
    color: #9b9b9b;
}

a, a:visited
{
    text-decoration: none;
    color: #9b9b9b;
}

/* Header */

.header 
{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
    padding: 10px 5px;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: max(15px, 1.35vw);
    font-weight: 540;   /* boldness, 700 default value. <700-less bold. >700-more bold */
}

.header img 
{
    width: max(30px, 2.5vw);    /* greater of the two is taken depending upon the device*/
    height: auto;
}

.socials 
{  
    display: flex;
    justify-content: flex-end;
}

.social 
{
    margin: auto 10px;
}

/* Outer */

.outer 
{
    display: flex;
    justify-content: flex-end;
}

/* Sidebar */

.sidebar 
{
    position: fixed;
    left: 0;
    top: 50px;
    height: 100%;
    padding-top: 30px;
    width: 24vw;
    background-color: black;
    border-right: 2px dashed #ccc623;
    z-index: 3;
}

.sidebar h1 
{
    font-size: 3vw;
    text-align: center;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.sidebar h1:hover
{
    color: #ccc623;
    text-shadow: 2px 2px 5px gray;
    cursor: pointer;
    transition: color 0.5s;
    scale: 1.1;
}

.media 
{
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 550;
    padding: 20px 0 0 30px;
}

.media:hover
{
    color: #ccc623;
    scale: 1.1;
    transform: translateX(30px);
    transition: color 0.5s transform 0.5s;
    cursor: pointer;
}


/* Mainpage */

.main 
{
    margin-top: 60px;
    width: calc(100% - 24vw);
    padding: 10px;
}

.spot
{
    display: flex;
}

.spot div 
{
    background-color: #111;
    width: 100%;
}

.content 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content .heading 
{
    font-size: 3vw;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Tilt Prism', cursive;
    font-weight: 200;
}

.content .subheading 
{
    color: #ccc623;
    font-family: 'Playfair Display', serif;
}

.content .desc
{
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.6;
    font-family: 'Playfair Display', serif;
    
}
h2
{
    font-family: 'Tilt Prism', cursive;
    text-align: center;
    padding: 20px;
    font-weight: 200;
    font-size: 2rem;
    color: #ccc623;
}

