/* Reset */

*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /*padding, border, etc. should be included in your specified height and width*/
}

body
{
    position: relative;
    background-color:#111111;
    font-family: 'Poppins', sans-serif;
    color: #9b9b9b;
}

a, a:visited
{
    text-decoration: none;
    color: #9b9b9b;
}

/* Header */

.header 
{
    position: fixed;
    height: 60px;
    width: 100%;
    top: 0;
    z-index: 5;         /* greater z-index hides the one with small z-index*/
    padding: 10px 5px;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: max(15px, 1.35vw);   /* greater of the two is taken depending upon the device*/
    /*vw=relative to your total width of your browser. Eg:-if your website is on mobile, if 1.35vw is very small font size, it stops at 15px*/
    font-weight: 540;   /* boldness, 700 default value. <700-less bold. >700-more bold */
}

.header img 
{
    width: max(30px, 2.5vw);    /* greater of the two is taken depending upon the device*/
    height: auto;
}

.socials 
{  
    display: flex;
    justify-content: flex-end;
}

.social 
{
    margin: auto 10px;         /*to create space between insta and facebook icons*/
}

/* Outer */

.outer 
{
    display: flex;
    padding: 65px 5px 0px;
    gap: 5px;
    justify-content: center; /*side-bar and main go to the two ends! */
}

/* Sidebar */

.footer 
{
    margin-top: 60px;
    height: 60px;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: black;
}

.media 
{
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 550;
    padding-left: 20px;
}

.media:hover
{
    color: #ccc623;
    scale: 1.1;
    cursor: pointer;
}


/* Mainpage */

.spot
{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.spot div 
{
    width: 100%;
}

.content 
{
    display: flex;
    flex-direction: column; /* by default, it is row, i.e., the heart-Gymkhana-description appears by default*/
    justify-content: center;    
    align-items: center;    /* depends on flex-direction. If row, then aligns the entire row as per vertical spacing, else, as per horizontal spacing*/
    text-align: center;
}

.content .heading 
{
    font-size: 3vw;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Tilt Prism', cursive;
    font-weight: 200;
}

.content .subheading 
{
    color: #ccc623;
    font-family: 'Playfair Display', serif;
}

.content .desc
{
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.6;   /*gap between lines*/
    font-family: 'Playfair Display', serif;
    
}

h2  /*Creator Handles*/
{
    font-family: 'Tilt Prism', cursive;
    text-align: center;
    font-weight: 200;
    font-size: 2rem;
    /*rem=root element= if someone has preferred font-size on the browser(medium, large, etc.) 2rem means double of that, so it adjusts and helps in responsiveness.*/
    color: #ccc623;
}

